@import "normalize.css/normalize.css";
@import "sanitize.css/sanitize.css";
@import "font.css";

html
  font-family -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  line-height: 1.6em
  font-size: 120%
  color: base-font-color

html, body
  width: 100%;

#app
  width: 960px;
  margin: 0 auto;

h1
  font-size: 160%;

p
  font-size: 100%;
